
.wrapper{
    max-width: 46rem;
    margin: 0 auto;
    margin-top: -1.75rem;
}
@media (max-width: 768px){
    .wrapper{
        padding: 0 2rem;
    }
}
.todoList {
    margin-top: 4rem;
}

.todoList header {
    display: flex;
    justify-content: space-between;
}

.todoList ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}